@charset="UTF-8";
/*検索バー*/

.search_form{
	position: absolute;
	left: 480px;
	top: 300px;
}

dl.search{
    position: relative;
    background-color:#fff;
    border:2px solid #f18e00;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    -ms-border-radius:6px;
    border-radius:6px;
}
dl.search dt{
    margin-right:40px;
    padding:8px 0 8px 8px;
}
dl.search dt input{
    width:100%;
    height:24px;
    line-height:24px;
    background:none;
    border:none;
}
dl.search dd{
    position:absolute;
    top:0;
    right:0;
}
dl.search dd button{
    display:block;
    padding:10px;
    background: #f18e00;
    border:none;
}
dl.search dd button span{
    display:block;
    width:20px;
    height:20px;
    background:url('./img/magnifier.png') no-repeat scroll 0 0;
}

/*検索バー終了*/


body{

}

#wrap{
	width : 960px;
	
}

header{
}

nav{
	height : 100px;

}

article{
	width : 960px;
	padding-top : 10px;
	padding-bottom : 20px;
}

footer{

}


/*----common----*/

.clearFix{
	clear:both;
	content:".";
	display:block;
}



/*----Structure-----*/

/*
ロゴ
*/

.logo{
	width : 300px;
	height : 200px;
	position : absolute;
	top : 50px ;
	left : 480px;	
}

/*
ボタン
*/

.button{
	width : ;
	height: ;

}

/*
箱、写真
*/

.box-100%{
	width :100%;
}

.box-frame{
	width :900px;
	height : ;
	border-radius:5px;
	box-sizing : border-box;
	padding : 10px;
}

.text-box-1line{
	width:;
	height:;
	border-radius:5px;
	box-sizing : border-box;
}

.text-box-5line{
	width:;
	height:;
	border-radius:5px;
	box-sizing : border-box;
}

.photo{
	width:;
	height:;
	border-radius:5px;
	box-sizing : border-box;
}

/*
配置
*/
.l-float{
	float : left;
}

.r-float{
	float : right;
}

.align_center{
	margin : 0 auto;
}


/*----Skin-----*/

/*
文字の色とサイズ
*/

.clear_text{
	text-decoration : none;
	list-style : none;
}
/*ページタイトル*/
.contents-title{
	margin-left : 30px;
	margin-bottom : 10px;
	font-size :1.8em;
	color :#222;
}

/*記事のタイトル*/
.article-title{
	font-size :1.5em;
	color :#222;
}

/*個別記事のタイトル*/

.sub-article-title{
	font-size :;
	color : ;
}

/*個別記事のコメント*/
.article-text{
	font-size :;
	color : ;
}

/*その他のテキスト*/
.other-text{
	font-size :1.5em;
	color :#222;
	line-height : 1.5em;
}

/*
背景色
*/
.orange{
	background-color : orange;
}

.gray{
	background-color : ;
}

.white{
	background-color : white;
}

.shadow{
	box-shadow :2px 1px 10px 3px rgba(0,0,0,0.1);
}



/*スマホページ*/

@media screen and (max-width: 480px){








}

