@charset="UTF-8";

body{

}

#wrap{
	width : 960px;
	
}

header{
}

nav ul li {
display: inline;
margin: 0 10px;
}

article{
	width : 960px;
	padding-top : 10px;
}

footer{

}


/*----common----*/

.clearFix{
	clear:both;
	content:".";
	display:block;
}



/*----Structure-----*/

/*
ロゴ
*/

.logo{
	width : 300px;
	height : 200px;
	
}

/*
ボタン
*/

.button{
	width : ;
	height: ;

}

/*
箱、写真
*/

.box-100%{
	width :100%;
}

.box-frame{
	width :900px;
	height : ;
	border-radius:5px;
	box-sizing : border-box;
	padding : 10px;
}

.text-box-1line{
	width:;
	height:;
	border-radius:5px;
	box-sizing : border-box;
}

.text-box-5line{
	width:;
	height:;
	border-radius:5px;
	box-sizing : border-box;
}

.photo{
	width:;
	height:;
	border-radius:5px;
	box-sizing : border-box;
}

/*
配置
*/
.l-float{
	float : left;
}

.r-float{
	float : right;
}

.align_center{
	margin : 0 auto;
}


/*----Skin-----*/

/*
文字の色とサイズ
*/

.clear_text{
	text-decoration : none;
	list-style : none;
}
/*ページタイトル*/
.contents-title{
	margin-left : 30px;
	margin-bottom : 10px;
	font-size :1.8em;
	color :#222;
}

/*記事のタイトル*/
.article-title{
	font-size :1.5em;
	color :#222;
}

/*個別記事のタイトル*/

.sub-article-title{
	font-size :;
	color : ;
}

/*個別記事のコメント*/
.article-text{
	font-size :;
	color : ;
}

/*その他のテキスト*/
.other-text{
	font-size :1.5em;
	color :#222;
	line-height : 1.5em;
}

/*
背景色
*/
.orange{
	background-color : orange;
}

.gray{
	background-color : ;
}

.white{
	background-color : white;
}

.shadow{
	box-shadow :2px 1px 10px 3px rgba(0,0,0,0.1);
}



/*スマホページ*/

@media screen and (max-width: 480px){








}

