@charset="UTF-8";
/*------------検索バー  ----------*/



.search_form{
	position: absolute;
	left: 37%;
	top: 300px;
}

.tarunavi_logo{
	position: absolute;
	left: 40%;
	top: 200px;
}

dl.search{
    position: relative;
    background-color:#fff;
    border:2px solid #f18e00;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    -ms-border-radius:6px;
    border-radius:6px;
}
dl.search dt{
    margin-right:100px;
    padding:8px 0 8px 8px;
}
dl.search dt input{
    width:100%;
    height:24px;
    line-height:24px;
    background:none;
    border:none;
}
dl.search dd{
    position:absolute;
    top:0;
    right:0;
}
dl.search dd button{
    display:block;
    padding:11px;
    background: #f18e00;
    border:none;
}
dl.search dd button span{
    display:block;
    width:20px;
    height:20px;
    background:url('./img/magnifier.png') no-repeat scroll 0 0;
}

/*検索バー終了*/




body{

}

#container{
	width : 960px;
	
}

header{
}


article{
	width : 960px;
	padding-top : 10px;
	padding-bottom : 20px;
}

footer{
	width: 960px;
	height: 120px;
	background: orange;
}

/*--------ナビゲーションボタン------------*/
.nav_box{
	width: 960px;
	height: 120px;
	background: white;
}

.margin-none{
	margin :0;
}
.nav_button{
	width:480px;
	height: 120px;
	background: yellow;
}

.list-margin{
	margin: 0;
}

.nav_box > ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}



.category{
	padding: 28px 10px 5px 0;
}

.fotter_logo{
	margin: 20px 20px;
}


.footer_nav{
	margin: 90px 50px 0 50px;
}

.footer_nav > li{
	list-style: none;
	float: left;
	
}

a{
	text-decoration: none;
	display: block;
	float: left;
}



/*----common----*/
.clearFix{
	clear :both;
}

.clearFix:after{
	clear:both;
	content:".";
	display:block;
	height : 0;
	visibility : hidden;
}



/*----Structure-----*/

/*
ロゴ
*/

.logo{
	width : 300px;
	height : 200px;
	position : absolute;
	top : 50px ;
	left : 480px;	
}

/*
ボタン
*/

.button{
	width :80px;
	height:40px;
	border-radius : 5px;
	border :1px solid #222;
}

.p-button{
	width :80px;
	height:30px;
	margin:10px;
	border-radius : 5px;
	border :none;
	background-color: #FF6C77;
}

.check-in{
	width:140px;
	height :165px;
	margin : 5px;
}

/*
箱、写真
*/

.box-100%{
	width :100%;
}

.box-frame{
	width :900px;
	height : ;
	border-radius:5px;
	box-sizing : border-box;
	padding : 10px;
	margin : 10px auto;
}
.long-form{
	width :600px;
}
.middle-form{
	width :450px;
}
.short-form{
	width :500px;
}

.box-line1{
	width:260px;
	height:40px;
	margin :10px;
	border-radius:5px;
	box-sizing : border-box;
}


/*-----------------------------------
			小林編集します
-------------------------------------*/

/*---旅のタイトルを入力するボックス-----*/

.box-line2{
	width:650px;
	height:40px;
	margin :10px;
	border-radius:5px;
	box-sizing : border-box;
}

/*---内容確認ボタン-----*/

.check_button{
	width :200px;
	height:40px;
	border-radius : 5px;
	border :1px solid #222;
}

/*---フォームの箱-----*/

.form_box{
	width:600px;
	height:500px;
	margin: 0 auto;

}


/*-----------------------------------
			ここまで小林編集
-------------------------------------*/



.box-line2{
	width:90%;
	height:100px;
	margin :5px;
	border-radius:5px;
	box-sizing : border-box;
}
.box-line4{
	width:90%;
	height:160px;
	margin :10px;
	border-radius:5px;
	box-sizing : border-box;
}

.small-photo{
	width:180px;
	height:180px;
	margin : 10px;

}

.large-photo{
	width:200px;
	height:200px;
	margin : 30px;
	border-radius:5px;
	box-sizing : border-box;
}
.large-large-photo{
	width:300px;
	height:300px;
	margin : 30px;
	border-radius:5px;
	box-sizing : border-box;
}

.sub-photo{
	width:420px;
	height:320px;
}

.top-article-detail{
	width : 450px;
}

.trip-frame-box{
	width : 700px;
	margin : 5px 5px 5px 25px;
	border : 1px solid #222;
	border-radius:3px;
	box-sizing : border-box;
}

.trip-frame-photo{
	width : 150px;
	height : 150px;
	margin : 5px;
	border :1px solid #222;
}



.form-detail2{
	width : 600px;
}


.text-box{
	width : 80%;
}
/*地図*/

.map{
	width : 90%;
	height : 200px;
}

/*
配置
*/
.l-float{
	float : left;
}

.r-float{
	float : right;
}

.align-center{
	margin : 0 auto;
}

.align-r{
	text-align : right;
}
.align-c{
	text-align : center;
}

.margin30{
	margin : 30px;
}

.margin10{
	margin : 10px;
}

.link-extend{
	display : block;
}

/*----Skin-----*/

/*
文字の色とサイズ
*/

.clear-text{
	text-decoration : none;
	list-style : none;
	color : #222;
	display : block;
}

.bold{
	font-weight : bold;
}

/*ページタイトル*/
.contents-title{
	margin-left : 30px;
	margin-bottom : 10px;
	font-size :1.8em;
	color :#222;
}
.my-page{
	margin : 30px;
	font-size :2.3em;
	color :#222;
	border-bottom:2px solid #222;
}

/*記事のタイトル*/
.article-title{
	margin : 30px;
	font-size :1.5em;
	color :#222;
}

/*個別記事のタイトル*/

.sub-article-title{
	font-size :;
	color : ;
}

/*個別記事のコメント*/
.article-text{
	font-size :;
	color : ;
}

/*その他のテキスト*/
.other-text{
	font-size :1.5em;
	color :#222;
	line-height : 1.5em;
	margin : 0 ;
}
.other-title{
	margin : 0;
	font-size :2em;
	color :#222;
	line-height : 1.3em;
}

/*
背景色
*/
.orange{
	background-color : orange;
}

.gray{
	background-color : ;
}

.white{
	background-color : white;
}

.hadairo{
	background : wheat;
}

.shadow{
	box-shadow :2px 1px 10px 3px rgba(0,0,0,0.1);
}



/*スマホページ*/

@media screen and (max-width: 480px){








}

