@charset="UTF-8";
/*------------検索バー  ----------*/
.search_form{
	position: absolute;
	left: 37%;
	top: 300px;
}

.tarunavi_logo{
	position: absolute;
	left: 40%;
	top: 200px;
}

dl.search{
    position: relative;
    background-color:#fff;
    border:2px solid #f18e00;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    -ms-border-radius:6px;
    border-radius:6px;
}
dl.search dt{
    margin-right:100px;
    padding:8px 0 8px 8px;
}
dl.search dt input{
    width:100%;
    height:24px;
    line-height:24px;
    background:none;
    border:none;
}
dl.search dd{
    position:absolute;
    top:0;
    right:0;
}
dl.search dd button{
    display:block;
    padding:11px;
    background: #f18e00;
    border:none;
}
dl.search dd button span{
    display:block;
    width:20px;
    height:20px;
    background:url('./img/magnifier.png') no-repeat scroll 0 0;
}

/*検索バー終了*/


#container{
	width : 960px;
}

#wrap{
	width : 960px;
	
}

header{
}

article{
	width : 960px;
	padding-top : 10px;
	padding-bottom : 20px;
}

footer{
	width: 920px;
	background: orange;
	padding : 20px;
}

/*--------ナビゲーションボタン------------*/

.margin-none{
	margin :0;
}
.nav_button{
	width:480px;
	height: 120px;
	background: yellow;
	border : 1px solid white;
	box-sizing : border-box;
}

.nav_button :hover{
	-webkit-transform: scale(1.3);
}

.list-margin{
	margin: 0;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}


/*footer*/

.fotter_logo{
}

.footer_nav > li{
	list-style: none;
	float: left;
}

.foot-text{
	text-decoration: none;
	display: block;
	float: left;
	color : green;
}


.foot-anime2{
	position :absolute;
	-webkit-animation:move3 15s cubic-bezier(0.9, 0.1, 1.0, 1.0) infinite normal;
}

@-webkit-keyframes move3{
    0% {margin-top:40px;
    margin-left:700px;}
    100% {margin-top:-100px;
    margin-left:-300px;
}
}


/*----common----*/
.clearFix{
	clear :both;
}

.clearFix:after{
	clear:both;
	content:".";
	display:block;
	height : 0;
	visibility : hidden;
}



/*----Structure-----*/

/*
ロゴ
*/

.logo{
	width : 300px;
	height : 200px;
	position : absolute;
	top : 50px ;
	left : 480px;	
}

/*
ボタン
*/

.button{
	width :80px;
	height:40px;
	border-radius : 5px;
	border :1px solid #222;
}
/*■■■■■■追加しました(3/10 17：15 佐藤)■■■■■■*/
/*-------↑.button はいらないかも？？---------*/ 

.button_120{
	width :120px;
	height:40px;
	border-radius : 5px;
	border :4px solid #FF6C77;
}

.button_200{
	width :120px;
	height:40px;
	border-radius : 5px;
	border :4px solid #FF6C77;
}

.d-button{
	width :80px;
	height:30px;
	margin:10px;
	border-radius : 5px;
	border :none;
}
/*-----↑p-buttonからd-buttonに変更しました -----*/
/*■■■■■■buttonの変更・追加ここまで■■■■■■*/

.check-in{
	width:140px;
	height :165px;
	margin : 5px;
}

/*
箱、写真
*/

.box-100%{
	width :100%;
}

.box-frame{
	width :900px;
	height : ;
	border-radius:5px;
	box-sizing : border-box;
	padding : 10px;
	margin : 10px auto;
}

.box-3{
	width : calc((100% ) / 3);
	box-sizing : border-box;
	padding : 5px;
}
.box-4{
	width : calc(100% / 4);
	padding : 5px;
	box-sizing : border-box;
}


.box-line1{
	width:260px;
	height:40px;
	margin :10px;
	border-radius:5px;
	box-sizing : border-box;
}


/*佐藤さん編集*/
.box-line1_80{
	width:80px;
	height:40px;
	margin :10px;
	border-radius:5px;
	box-sizing : border-box;
}

.box-line1_150{
	width:150px;
	height:40px;
	margin :10px;
	border-radius:5px;
	box-sizing : border-box;
}

.box-line1_300{
	width:300px;
	height:40px;
	margin :10px;
	border-radius:5px;
	box-sizing : border-box;
}

.box-line1_450{
	width:450px;
	height:40px;
	margin :10px;
	border-radius:5px;
	box-sizing : border-box;
}

.box-line1_600{
	width:600px;
	height:40px;
	margin :10px;
	border-radius:5px;
	box-sizing : border-box;
}
/*■■■■■■ boxの変更・追加ここまで ■■■■■■*/

/*-----------------------------------
			小林編集します
-------------------------------------*/

/*---旅のタイトルを入力するボックス-----*/

.box-line2{
	width:650px;
	height:40px;
	margin :10px;
	border-radius:5px;
	box-sizing : border-box;
}

/*---内容確認ボタン-----*/

.check_button{
	width :200px;
	height:40px;
	border-radius : 5px;
	border :1px solid #222;
}

/*---フォームの箱-----*/

.form_box{
	width:600px;
	height:500px;
	margin: 0 auto;

}


/*-----------------------------------
			ここまで小林編集
-------------------------------------*/



.box-line3{
	width:100%;
	height:100px;
	padding : 5px;
	margin :5px;
	border-radius:5px;
	box-sizing : border-box;
}
.box-line4{
	width:100%;
	height:160px;
	margin :10px;
	
	border-radius:5px;
	box-sizing : border-box;
	
}

.photo3{
	width : 270px;
	height : 250px;
	margin-left : 15px ;
	border-radius : 5px;
	box-sizing : border-box;

}
.photo4{
	width : 200px;
	height : 190px;
	margin-left : 10px ;
	border-radius : 5px;
	box-sizing : border-box;

}

.small-photo{
	width:130px;
	height:130px;
	margin : 5px;
	border-radius : 5px;
	box-sizing : border-box;

}

.large-photo{
	width:200px;
	height:200px;
	margin : 30px;
	border-radius:5px;
	box-sizing : border-box;
}
.large-large-photo{
	width:350px;
	height:320px;
	margin : 15px;
	border-radius:5px;
	box-sizing : border-box;
	position : absolute;
	bottom : 10px;
	left :15px;
}

.sub-photo{
	width:420px;
	height:280px;
}

.top-article-detail{
	width : 50%;
	min-height : 400px;
	padding :10px 0;
	border-radius : 5px;
	position : relative;
}

.trip-frame-box{
	width : 700px;
	margin : 5px 5px 5px 25px;
	border : 1px solid #222;
	border-radius:3px;
	box-sizing : border-box;
}

.trip-frame-photo{
	width : 150px;
	height : 150px;
	margin : 5px;
	border :1px solid #222;
}

.form-detail2{
	width : 600px;
}

.text-box{
	width : 80%;
}
/*地図*/

.map{
	width : 90%;
	height : 200px;
}

.main-map{
	width : 600px;
	height : 600px;
}

.world-map,
.world-map img{
	width : 800px;
	height : 600px;
}

#text-change :hover{
	fill : orange;
}
.color-change :hover{
	fill : orange;

}

/*
配置
*/
.l-float{
	float : left;
}

.r-float{
	float : right;
}

.align-center{
	margin : 0 auto;
}

.align-r{
	text-align : right;
}
.align-l{
	text-align : left;
}
.align-c{
	text-align : center;
}

.margin30{
	margin : 30px;
}

.margin10{
	margin : 10px;
}

.margin-none{
	margin : 0;
}

.p-relative{
	position : relative;
}

.link-extend{
	display : block;
}

.inline{
	display : inline;
	margin-left : 20px;
}


/*テキストを斜めに*/
.naname{
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
border-radius : 50%;
background : #2BCDFF;
position :absolute;
top : -30px;
left: -30px;
}

.naname2{
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
border-radius : 50%;
background : #2BCDFF;
position :absolute;
}

/*----Skin-----*/

/*ボーダー*/
.border{
	border : 3px solid orange;
}

.kadomaru{
	border-radius : 5px;
}

/*
文字の色とサイズ
*/

.text-white{
	color : white;
}

.clear-text{
	text-decoration : none;
	list-style : none;
	color : #222;
	display : block;
}

.bold{
	font-weight : bold;
}

/*大見出し*/
.contents-title{
	margin-left : 30px;
	margin-bottom : 10px;
	margin-top : 20px;
	font-size :1.8em;
	color :#222;
}
/*メンバーページのテキスト「○○さんのページ」*/
.my-page{
	margin : 30px;
	font-size :2.3em;
	color :#222;
	border-bottom:2px solid #222;
}

/*トップページのテキスト「おすすめ記事」*/
.recomend-title{
	font-size :2.2em;
	line-height : 1.2em;
	color :white;
	margin : 5px;
}

.triangle{
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-top: 30px solid #222;
	border-right:10px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 10px solid transparent;
}

/* 点滅と上下 */
.animation1{

	-webkit-animation:blink 1s ease-in-out infinite alternate;
	-webkit-animation:move1 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes move1{
    0% {margin-top:13px;}
    100% {margin-top:27px;}
}


/*中見出し*/
.article-title{
	font-size :1.4em;
	line-height : 1.2em;
	color :#222;
}

/*小見出し*/

.sub-article-title{
	font-size :1.2em;
	color : ;
}

/*小コメント*/
.article-text{
	font-size :1em;
	line-height : 1.4em;
	margin : 0;
	color : ;
}

/*その他のテキスト*/
.other-text{
	font-size :1.5em;
	color :#222;
	line-height : 1.5em;
	margin : 0 ;
}
.other-title{
	margin : 0;
	font-size :2em;
	color :#222;
	line-height : 1.3em;
}

.text-shadow{
	color : white;
	text-shadow : 1px 1px 3px black;
}


/*
背景色
*/
.orange{
	background-color : orange;
}

.skyblue{
	background-color :#89D4FF;
}

.gray{
	background-color : ;
}

.white{
	background-color : white;
}

.hadairo{
	background : wheat;
}
.limegreen{
	background : limegreen;
}

/*■■■■■■追加しました(3/10 17：30 佐藤)■■■■■■*/
.pink{
	background-color: #FF6C77;
}
/*■■■■■■ 背景色の追加ここまで ■■■■■■*/


.shadow{
	box-shadow :2px 1px 10px 3px rgba(0,0,0,0.1);
}


/*スマホページ*/

@media screen and (max-width: 480px){








}

